@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --red-color: #fa5c59;
  --green-color: #54b952;
  --muni-color: #ffb600;
  --yellow-color: #ffe11e;
  --blue-color: #00697a;
  --text-dark: #333;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

video {
  /* Configuración del video del header */
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  object-fit: cover;
  z-index: -1;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

section {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

/* --------------------------------------------------------------------------------------------------------- */

/* Comienzo del NAV - Vista Mobile */
nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--text-dark);
}

.nav__menu__btn:hover {
  transition: 0.5s;
  color: var(--muni-color);
}

.nav__logo .logo {
  display: flex;
  color: var(--white);
  width: 12rem;
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--text-dark);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-weight: 500;
  color: white;
}

.nav__links a:hover {
  color: var(--muni-color);
}

.nav__contact {
  display: none;
}

/* Fin del NAV (No se requieren cambios) */

/* Header (No se requieren cambios) */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffb600c4;
  mix-blend-mode: overlay;
  pointer-events: none;
  z-index: 0;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.header__content {
  z-index: 1;
  padding: 1rem;
  backdrop-filter: blur(10px);
  max-width: 800px;
}

.header__content > div {
  /* max-width: 500px; */
  padding: 3rem;
  background-color: #ffffff93;
  backdrop-filter: blur(10px);
}

.header__content h1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: var(--text-dark);
}

.header__content p {
  font-size: 1rem;
  color: var(--text-dark);
}

.title__orange {
  color: var(--muni-color);
}

/* Fin Header */

.contenedores {
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: auto; /* Ocupa el 100% de la altura de la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenido-centrado {
  width: 100%;
  max-width: var(--max-width); /* Puedes ajustar el ancho según sea necesario */
  /* margin: 1.5rem; */
  background-color: var(--white); /* Color de fondo, ajustable */
  box-shadow: 0 4px 8px 4px #0000007c; /* Sombra opcional */
  border-radius: 8px; /* Bordes redondeados */
  text-align: center; /* Centra el texto */
  padding: 2rem;
}

main {
  flex: 1;
  background-color: var(--muni-color);
}

/* Actividades */
.wrapper {
  display: flex;
  flex-direction: column; /* O 'row' según el diseño */
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
  width: 100%;
  padding: 1rem; /* Ajusta el padding según sea necesario */
  box-sizing: border-box;
}

.wrapper img {
  max-width: 100%;
  height: auto;
}

.title {
  font-size: 3em;
  text-align: center;
  font-weight: 700;
  color: var(--text-dark);
}

.wrapper h1 span {
  color: var(--muni-color);
}

.content__box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: var(--max-width);
  margin-top: 30px;
}

.card__box {
  min-height: 220px;
  width: calc(50% - 20px);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 4px;
  box-shadow: 0 4px 8px 4px #0000007c;
  /* border: 1px solid var(--muni-color); */
}

.card__box i {
  margin: 20px;
  color: var(--muni-color);
  font-size: 2rem;
}

.card__box h2 {
  margin-bottom: 12px;
  font-weight: 700;
  text-align: center;
}

.card__box p {
  color: var(--muni-color);
  text-align: center;
}

.card__box:hover i,
.card__box:hover p {
  color: var(--text-dark);
  background-size: cover;
}

.card__box:hover h2 {
  font-weight: 600;
}

.card__box:nth-child(1):hover {
  background: linear-gradient(
      45deg,
      rgba(255, 189, 8, 0.7) 0%,
      rgba(255, 189, 8, 0.7) 100%
    ),
    url("/assets/pevr_1.jpg");
  background-size: cover;
}
.card__box:nth-child(2):hover {
  background: linear-gradient(
      45deg,
      rgba(255, 189, 8, 0.7) 0%,
      rgba(255, 189, 8, 0.7) 100%
    ),
    url("/assets/pevr_1.jpg");
  background-size: cover;
}
.card__box:nth-child(3):hover {
  background: linear-gradient(
      45deg,
      rgba(255, 189, 8, 0.7) 0%,
      rgba(255, 189, 8, 0.7) 100%
    ),
    url("/assets/pevr_1.jpg");
  background-size: cover;
}
.card__box:nth-child(4):hover {
  background: linear-gradient(
      45deg,
      rgba(255, 189, 8, 0.7) 0%,
      rgba(255, 189, 8, 0.7) 100%
    ),
    url("/assets/pevr_1.jpg");
  background-size: cover;
}
.card__box:nth-child(5):hover {
  background: linear-gradient(
      45deg,
      rgba(255, 189, 8, 0.7) 0%,
      rgba(255, 189, 8, 0.7) 100%
    ),
    url("/assets/pevr_1.jpg");
  background-size: cover;
}
.card__box:nth-child(6):hover {
  background: linear-gradient(
      45deg,
      rgba(255, 189, 8, 0.7) 0%,
      rgba(255, 189, 8, 0.7) 100%
    ),
    url("/assets/pevr_1.jpg");
  background-size: cover;
}

/* End Actividades */

/* FAQs */

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.faq h2 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--text-dark);
}

.faq h2 span {
  color: var(--muni-color);
  padding: 1rem;
}

.faqs {
  max-width: 1000px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--muni-color);
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faqs .question h3 {
  color: var(--text-dark);
}

.question h3 {
  font-size: 1.5rem;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-out;
}

.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1rem;
  color: var(--muni-color);
}

.active .answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
}

.active svg {
  transform: rotate(180deg);
}

svg {
  transition: transform 0.5s ease-in;
}
/* End FAQs */

/* Apadrinamientos */

.sponsors__wrap {
  width: 100%;
  height: auto;
  text-align: center;
}

.sponsors__wrap h1 {
  font-size: 3em;
  margin: 25px 0;
  text-align: center;
  font-weight: 700;
  color: var(--muni-color);
}

.sponsors__wrap p {
  margin-bottom: 25px;
}

.sponsors__in {
  width: 100%;
  height: auto;
}

.sponsors__in ul {
  padding: 0;
  margin: 0;
}

.sponsors__in ul li {
  list-style: none;
  display: inline-block;
  width: 250px;
  height: 125px;
  position: relative;
  overflow: hidden;
  margin: 10px;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0px 0px 0px -2px var(--muni-color);
}

.sponsors__in ul li img {
  width: 100%;
  height: 100%;
}

.sponsors__in ul li img:nth-child(1) {
  transform: translateY(0);
  transition: 0.5s;
}

.sponsors__in ul li img:nth-child(2) {
  transform: translateY(0);
  transition: 0.5s;
}

.sponsors__in ul li:hover img:nth-child(1) {
  transform: translateY(-100%);
  transition: 0.5s;
}

.sponsors__in ul li:hover img:nth-child(2) {
  transform: translateY(-105%);
  transition: 0.5s;
}

/* End Apadrinamientos */

/* Nosotros */

.nosotros {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nosotros__container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}

.contenido-centrado h1 {
  font-size: 3em;
  margin: 25px 0;
  text-align: center;
  font-weight: 700;
  color: var(--text-dark);
}

.contenido-centrado h1 span {
  color: var(--muni-color);
}

.card {
  border-radius: 25px;
  background-color: white;
  border: 4px solid var(--muni-color);
}

.card__image {
  position: relative;
  height: 150px;
  width: 150px;
  background-color: white;
  padding: 3px;
}

.card__image .card__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25%;
  border: 2px solid var(--muni-color);
}

.nosotros__slide__content {
  padding: 45px 20px;
  margin: 0 40px;
  overflow: hidden;
  border-radius: 20px;
}

.image__content,
.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: var(--muni-color);
}

.swiper-navBtn {
  color: gray !important;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: var(--muni-color) !important;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 40px !important;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.image__content {
  row-gap: 5px;
  position: relative;
}

.description {
  font-size: 14px;
  color: var(--text-dark);
  text-align: center;
}

/* End Nosotros */

/* Location */
.location {
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  padding-bottom: 1rem;
}

.location__in {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 4px #0000007c;
}

.location__map {
  width: 100%;
  height: 25rem;
}
.location__map iframe {
  width: 100%;
  height: 100%;
}

.location__text {
  width: 100%;
  height: auto;
  padding: 30px;
  flex: 50%;
  text-align: center;
  align-items: center;
}

.location__text h1 {
  font-size: 2em;
  padding-top: 2rem;
  font-weight: 700;
}

.location__text h1 span {
  color: var(--muni-color);
}

.location__text p {
  color: var(--text-dark);
}

/* Footer */

footer {
  margin-top: auto;
  background-color: var(--text-dark);
  position: relative;
  padding: 1rem;
}

.footer__container {
  width: 100%;
  padding: 30px 30px 20px;
}

.social__icons {
  display: flex;
  justify-content: center;
}

.social__icons a {
  text-decoration: none;
  padding: 10px;
  background-color: var(--muni-color);
  margin: 10px;
  border-radius: 25%;
}

.social__icons a i {
  font-size: 1.5em;
  color: var(--text-dark);
}

.social__icons a:hover {
  color: var(--text-dark);
  background-color: white;
  transition: 0.5s;
}

.social__icons a:hover i {
  color: var(--muni-color);
}

.footer__nav {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin: 30px 0;
}

.footer__nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footer__nav ul li a {
  color: var(--white);
  margin: 20px;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.5s;
}

.footer__nav ul li a:hover {
  color: var(--muni-color);
}

.footer__botom {
  font-weight: 500;
  color: var(--muni-color);
  text-align: center;
}

/* End Footer */

/* Responsive */

/* Responsive del NAV */
@media (width > 768px) {
  nav {
    color: var(--white) !important;
    position: static;
    width: 100vw;
    top: 0;
    left: 0;
    padding: 1rem 2rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 2rem;
    background-color: var(--text-dark);
  }

  .nav__contact i:hover {
    transition: 0.5s;
    color: var(--muni-color);
  }

  .nav__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 1rem;
    background-color: var(--text-dark);
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__logo .logo {
    display: flex;
    width: 10rem;
  }

  .nav__links {
    position: static;
    padding: 0;
    width: fit-content;
    flex-direction: row;
    gap: 3rem;
    background-color: transparent;
    transform: none;
  }

  .nav__links a {
    color: var(--white);
    font-weight: 800;
  }

  .nav__links a:hover {
    color: var(--muni-color);
  }

  .nav__contact {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    font-weight: 500;
    cursor: pointer;
    font-size: 2rem;
  }
}

/* Responsive del HEADER */
@media (max-width: 768px) {

  .card__box {
    width: calc(100% - 20px);
  }


  section {
    padding: 1rem;
  }
  .header__container {
    padding-top: 5rem;
  }

  .overlay {
    height: auto;
  }

  .header__content p {
    font-size: 0.9rem; /* Ajusta el tamaño del texto para pantallas pequeñas */
  }

  video {
    min-height: 100vh;
    width: 100%; /* Asegura que el video se ajuste al ancho de la pantalla */
    height: auto; /* Mantiene la proporción del video */
  }

  .contenedores {
    padding: 1rem;
    height: auto;
  }

  .contenido-centrado {
    padding: 1rem;
    margin: 1rem;
  }

  .faq h2 {
    font-size: 2.5rem;
  }

  .contenedores h1 {
    font-size: 2.4rem;
  }
}

@media (max-width: 590px) {
  video {
    display: none;
  }

  .content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

/* Responsive del Footer */
@media (max-width: 700px) {
  .footer__nav ul {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }

  .footer__nav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}

@media (max-width: 480px) {

  section {
    padding: .5rem;
  }
  .contenido-centrado {
    padding: 0.5rem;
    margin: 0.5rem;
  }

  .faq h2 {
    font-size: 2rem;
  }

  .faq h2 span {
    display: block;
    padding: 0;
  }
}

@media (min-width: 1201px) {
  body {
    overflow-x: hidden;
  }

  .nav__header {
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 1rem 0;
  }

  nav {
    width: 100vw;
    max-width: 100vw;
    background-color: var(--text-dark);
    padding: 1rem 2rem;
  }

  .nav__header {
    width: 100%;
    max-width: none;
  }
}

@media (max-width: 991px) {
  .wrapper {
    padding: 25px;
  }

  .title {
    font-size: 2.5em;
    font-weight: 600;
  }

  .wrapper h1 {
    font-size: 2.5em;
    font-weight: 600;
  }

  .content__box {
    flex-direction: column;
    width: 100%;
  }
}

/* Loader */

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.lds-ring,
.lds-ring div {
  box-sizing: border-box;
  color: var(--text-dark);
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  width: 100%;
  height: 100vh;
  background-color: var(--muni-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  clip-path: circle(150% at 100% 0);
  transition: clip-path 0.8s ease-in-out;
  z-index: 1;
}
.loader2 {
  clip-path: circle(0% at 100% 100%);
}

/* End Loader */
