@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --red-color: #fa5c59;
  --green-color: #54b952;
  --muni-color: #ffb600;
  --yellow-color: #ffe11e;
  --blue-color: #00697a;
  --text-dark: #333;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.secion__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: var(--text-dark);
}

.section__description {
  font-size: 1.1rem;
  color: var(--text-dark);
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(5px) sepia(1) hue-rotate(30deg);
  object-fit: cover;
  z-index: -1;

}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--muni-color);
}

.nav__menu__btn:hover {
  transition: 0.5s;
  color: var(--white);
}

.nav__logo .logo {
  display: flex;
  color: var(--white);
  width: 12rem;
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--text-dark);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--muni-color);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-weight: 500;
  color: var(--text-dark);
}

.nav__links a:hover {
  color: var(--white);
}

.nav__contact {
  display: none;
}

.header__container {
  display: grid;
  overflow: hidden;
  padding-bottom: 3rem;
}

.header__content {
  grid-area: 1/1/2/2;
  display: flex;
  align-items: center;
  padding-top: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header__content > div {
  max-width: 500px;
  padding: 4rem 1rem;
  background-color: #ffffff93;
  backdrop-filter: blur(10px);
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: var(--text-dark);
}

.header__content p {
  font-size: 0.9rem;
  color: var(--text-dark);
}

.title__orange {
  color: var(--muni-color);
}

@media (width > 768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .header__content {
    padding: 0 1rem;
  }

  .nav__contact i:hover {
    transition: 0.5s;
    color: var(--muni-color);
  }

  .nav__header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__logo .logo {
    display: flex;
    width: 10rem;
  }

  .nav__links {
    position: static;
    padding: 0;
    width: fit-content;
    flex-direction: row;
    gap: 3rem;
    background-color: transparent;
    transform: none;
  }

  .nav__links a {
    color: var(--text-dark);
    font-weight: 800;
  }

  .nav__links a:hover {
    color: var(--muni-color);
  }

  .nav__contact {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    font-weight: 500;
    cursor: pointer;
    font-size: 2rem;
  }
}

/* Actividades section */

.wrapper {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--white);
}

.wrapper h1 {
  font-size: 3em;
  margin: 25px 0;
  text-align: center;
  font-weight: 700;
}

.wrapper h1 span {
  color: var(--muni-color);
}

.content__box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: var(--max-width);
  margin-top: 30px;
}

.card__box {
  min-height: 220px;
  width: 320px;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 4px;
  box-shadow: 0px 15px 25px #ffb70096;
  /* border: 1px solid var(--muni-color); */
}

.card__box i {
  margin: 20px;
  color: var(--muni-color);
  font-size: 2rem;
}

.card__box h2 {
  margin-bottom: 12px;
  font-weight: 700;
  text-align: center;
}

.card__box p {
  color: var(--muni-color);
  text-align: center;
}

.card__box:hover i,
.card__box:hover p {
  color: var(--text-dark);
  background-size: cover;
}

.card__box:hover h2 {
  font-weight: 600;
}

.card__box:nth-child(1):hover {
  background: linear-gradient(
      45deg,
      rgba(255, 189, 8, 0.7) 0%,
      rgba(255, 189, 8, 0.7) 100%
    ),
    url("/assets/pevr_1.jpg");
  background-size: cover;
}
.card__box:nth-child(2):hover {
  background: linear-gradient(
      45deg,
      rgba(255, 189, 8, 0.7) 0%,
      rgba(255, 189, 8, 0.7) 100%
    ),
    url("/assets/pevr_1.jpg");
  background-size: cover;
}
.card__box:nth-child(3):hover {
  background: linear-gradient(
      45deg,
      rgba(255, 189, 8, 0.7) 0%,
      rgba(255, 189, 8, 0.7) 100%
    ),
    url("/assets/pevr_1.jpg");
  background-size: cover;
}
.card__box:nth-child(4):hover {
  background: linear-gradient(
      45deg,
      rgba(255, 189, 8, 0.7) 0%,
      rgba(255, 189, 8, 0.7) 100%
    ),
    url("/assets/pevr_1.jpg");
  background-size: cover;
}
.card__box:nth-child(5):hover {
  background: linear-gradient(
      45deg,
      rgba(255, 189, 8, 0.7) 0%,
      rgba(255, 189, 8, 0.7) 100%
    ),
    url("/assets/pevr_1.jpg");
  background-size: cover;
}
.card__box:nth-child(6):hover {
  background: linear-gradient(
      45deg,
      rgba(255, 189, 8, 0.7) 0%,
      rgba(255, 189, 8, 0.7) 100%
    ),
    url("/assets/pevr_1.jpg");
  background-size: cover;
}

/* End As */

/* Responsive */

@media (max-width: 991px) {
  .wrapper {
    padding: 25px;
  }

  .wrapper h1 {
    font-size: 2.5em;
    font-weight: 600;
  }

  .content__box {
    flex-direction: column;
    width: 100%;
  }

  .card__box {
    min-width: 300px;
    margin: 10px auto;
  }
}

/* Footer */

footer {
  background-color: var(--muni-color);
}

.footer__container {
  width: 100%;
  padding: 70px 30px 20px;
}

.social__icons {
  display: flex;
  justify-content: center;
}

.social__icons a {
  text-decoration: none;
  padding: 10px;
  background-color: var(--text-dark);
  margin: 10px;
  border-radius: 25%;
}

.social__icons a i {
  font-size: 1.5em;
  color: var(--muni-color);
}

.social__icons a:hover {
  color: var(--text-dark);
  background-color: white;
  transition: .5s;

}

.social__icons a:hover i {
  color: var(--text-dark);
}

.footer__nav {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin: 30px 0;
}

.footer__nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none ;
}

.footer__nav ul li a {
  color: var(--text-dark);
  margin: 20px;
  text-decoration: none;
  font-size: 1.1rem;
  transition: .5s;
}

.footer__nav ul li a:hover {
  color: white;
}

.footer__botom {
  background-color: var(--muni-color);
  color: var(--text-dark);
  text-align: center;
}

@media (max-width: 700px) {
  .footer__nav ul{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }

  .footer__nav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}